<div class="cyber_cat" style="height: 40px; background: red;">
    <div class="screen-width container">
        <div class="cybercat_box test">
            <p>{{ block.settings.cattitle }}</p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Cyber Cat Section",
    "target": "section",
    "settings": [
        {
            "type": "text",
            "id": "cattitle",
            "label": "Cat Title",
            "default": "Our Jumpers"
        }
    ],
    "presets": [
        {
            "name":"Cyber Cat Section",
            "category": "Custom Widgets"
        }
    ]
}
{% endschema %}