{{ 'cybercat_blocks.css' | asset_url | stylesheet_tag }}

<div class="cyber_cat" style="text-align: center;">
    <div class="screen-width container">
        <div class="cybercat_box test">
            <div class="catimgbox">
                {{ block.settings.catimg | image_url: width: 600 | image_tag }}
            </div>
            <p>{{ block.settings.cattitle }}</p>
            <p>Shop Right</p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Cyber Cat Section",
    "target": "section",
    "settings": [
        {
            "type": "text",
            "id": "cattitle",
            "label": "Cat Title",
            "default": "Our Jumpers"
        },
        {
            "type": "image_picker",
            "id": "catimg",
            "label": "Cat Image"
        }
    ]
}
{% endschema %}