<div class="cyber_cat">
    <div class="screen-width container">
        {% for block in section.cybercat_blocks %}
            {%- case block.type -%}
                <div class="cybercat_box">
                    {{ block.settings.cattitle }}
                </div>
            {% endcase %}
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Cyber Cat Section",
    "target": "section",
    "block": [
        {
            "type": "heading",
            "name": "Cat Title",
            "settings": [
                {
                    "type": "text",
                    "id": "cattitle",
                    "label": "Cat Title",
                    "default": "Our Jumpers"
                }
            ]
        }
    ]
}
{% endschema %}