<div class="testing_div" style="height: 100px; width: 100%; background: red;">
    <p>Hello I'm a test</p>
</div>

{% schema %}
{
    "name": "test",
    "presets": [
        {
            "name": "test"
        }
    ]
}
{% endschema %}